body {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: normal;
    background: #c0c0c0
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.info {
    display: flex;
}

@media (max-width: 630px) {
    .info {
        display: block;
        text-align: center;
    }
}

.info img {
    border-radius: 5%;
}

.info-text {
    margin-left: 30px;
}

.info-text p {
    font-size: 20px;
    font-weight: normal;
}

.bg-greenyeyllow {
    background: greenyellow;
}

.bg-rosybrown {
    background: rosybrown;
}

.bg-green {
    background: #e5ffe7;
}

.card {
    background: 1px solid black;
    border-radius: 10px;
}

a {
    color: black;
    text-decoration: none;
}

.btn {
    background: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

.btn:hover {
    opacity: 0.8;
}

a:active {
    color: blue;
}

a:hover {
    text-decoration: underline;
}

.list {
    margin-bottom: 20px;
    padding-left: 40px;
    padding-bottom: 8px;
}

.list li {
    margin-bottom: 8px;
    color: gray;
}

.hobby {
    padding-left: 20px;
    padding-top: 10px;    
}

.table {
    width: 28%;
    padding-left: 25px;

}
.table td {
    text-align: center;
    padding-bottom: 20px;
}

.table td:hover {
    background: grey;
}

.table th:hover {
    background: grey;
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
    /* display: inline-block; */
    /* width: calc(50% - 20px); */
}

@media (max-width: 630px) {
    .form-row {
        display: block;
    }
    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;

}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}